.home {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 13px;
    font-weight: 500;
    background-color: white;
    width: 100vw;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.home__hamburger {
    cursor: pointer;
}

.home__menu {
    display: flex;
    flex-direction: row;
}

.home__menu li {
    padding: 0 20px;
    text-align: center;
    color: var(--neutral-darkblue);
    font-size: 13px;
}

.home__image {
    width: 107.684px;
    height: 25px;
}


@media (max-width: 800px) {

    .home__menu,
    .home__contact {
        display: none;
    }
}

@media (min-width: 801px) {

    .home__hamburger {
        display: none;
    }
}