:root {
    /* Primario*/
    --primary-violet: #8B48BF;
    --primary-blue: #3CDDF3;
    /*Neutro*/
    --neutral-darkbluegray: #1E1E26;
    --neutral-darkblue: #232851;

    /*Variante*/
    --lightgray: rgb (249, 249, 249);

    /* Fuentes*/



    /*Tamaño*/
    --mobile: 480px;
    --desktop: 1440px;


}